{% extends "base.html" %}

{% block title %}IPND Notes{% endblock %}

{% block content %}
	<h1>Introduction to Programming Nanodegree Notes</h1>
	<div class="sidebar">
		<nav>
			<h2>Navigation</h2>
				<ul>
					<li><a target="_blank" href="/stage1"><strong>Stage 1 Notes</strong></a>
						<ol>
							<li><a target="_blank" href="/stage1#stage-1-1">The Basics of the Web and HTML</a></li>
							<li><a target="_blank" href="/stage1#stage-1-2">Creating a Structured Document</a></li>
							<li><a target="_blank" href="/stage1#stage-1-3">Adding CSS Style and HTML Structure</a></li>
						</ol>
					</li>
					<li><a target="_blank" href="/stage2"><strong>Stage 2 Notes</strong></a>
						<ol>
							<li><a target="_blank" href="/stage2#stage-2-1">Introduction to Serious Programming</a></li>
							<li><a target="_blank" href="/stage2#stage-2-2">Variables and Strings</a></li>
							<li><a target="_blank" href="/stage2#stage-2-3">Input-&gt;Function-&gt; Output</a></li>
							<li><a target="_blank" href="/stage2#stage-2-4">Control Flow &amp; Loops: If and While</a></li>
							<li><a target="_blank" href="/stage2#stage-2-5">Debugging</a></li>
							<li><a target="_blank" href="/stage2#stage-2-6">Structured Data: Lists &amp; For Loops</a></li>
							<li><a target="_blank" href="/stage2#stage-2-7">How to Solve Problems</a></li>
						</ol>
					</li>
					<li><a target="_blank" href="/stage3"><strong>Stage 3 Notes</strong></a>
						<ol>
							<li><a target="_blank" href="/stage3#stage-3-0">Intro: Create a Movie Website</a></li>
							<li><a target="_blank" href="/stage3#stage-3-1">Introduction to Abstraction</a></li>
							<li><a target="_blank" href="/stage3#stage-3-2">Use Functions</a></li>
							<li><a target="_blank" href="/stage3#stage-3-3a">Use Classes-Draw Turtles</a></li>
							<li><a target="_blank" href="/stage3#stage-3-3b">Use Classes-Send Text</a></li>
							<li><a target="_blank" href="/stage3#stage-3-3c">Use Classes-Profanity Editor</a></li>
							<li><a target="_blank" href="/stage3#stage-3-4a">Make Classes-Movie Website</a></li>
							<li><a target="_blank" href="/stage3#stage-3-4b">Make Classes-Advanced Topic</a></li>
						</ol>
					</li>
					<li><a target="_blank" href="/stage4"><strong>Stage 4 Notes</strong></a>
						<ol>
							<li><a target="_blank" href="/stage4#stage-4-1">Introduction to Networks</a></li>
							<li><a target="_blank" href="/stage4#stage-4-2">Make the Internet Work for You</a></li>
							<li><a target="_blank" href="/stage4#stage-4-3">Forms</a></li>
							<li><a target="_blank" href="/stage4#stage-4-4">Python Break-Modulus &amp; Dictionaries</a></li>
							<li><a target="_blank" href="/stage4#stage-4-5">Working with App Engine</a></li>
							<li><a target="_blank" href="/stage4#stage-4-6">Validation</a></li>
							<li><a target="_blank" href="/stage4#stage-4-7">HTML Templates</a></li>
							<li><a target="_blank" href="/stage4#stage-4-8">Databases</a></li>
						</ol>
					</li>
				</ul>
		</nav>
	</div>

	<div class="lesson">
		<h2>Welcome!</h2>
		<div class="concept" id="1">
			<div class="concept-title">Great to See You Here!</div>
			<div class="concept-content">
			<p>Welcome to my Introduction to Programming Nanodegree Notes Page!</p>
			<br>
			<p>Introduction to Programming is a Nanodegree taught by <a target="_blank" href="http://www.udacity.com">Udacity</a>.</p>
			<br>
			<p>You can learn more about the IPND, short for Introduction to Programming Nanodegree here: <a target="_blank" href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000">Intro to Programming Nanodegree</a>.</p>
			<br>
			<p>You'll find the links to my notes in the navigation pane to the left.</p>
			<br>
			<p>You can find the code for this site at <a target="_blank" href="https://github.com/lacyjpr/stage-four">github.com</a>.</p></div>
		</div>

		<div class="concept" id=2>
			<div class="concept-title">Comments</div>
			<div class="concept-content">

			<form action="/entry" method="post">
				<div><textarea id="styled1" name="content"></textarea></div>
				<div><input type="submit" value="comment"></div>
			</form>
			<div class="error">{{ error }}</div>
			<hr>
			<a href="{{ url|safe }}">{{ url_linktext }}</a>
			<hr>

			{% for comment in comments %}
				{% if comment.author %}
					<b>{{ comment.author.email }}</b> wrote:
				{% else %}
				<b>Anonymous</b> wrote:
				{% endif %}
				<blockquote>{{ comment.content }}</blockquote>
			{% endfor %}</div>
		</div>
	</div>

{% endblock %}