{% extends "base.html" %}

{% block title %}IPND Notes{% endblock %}

{% block content %}
	<h1>Introduction to Programming Nanodegree Notes</h1>
	<div class="sidebar">
		<nav>
			<h2>Navigation</h2>
				<ol>
					<li><a href="/stage1"><strong>Stage 1 Notes</strong></a></li>
					<li><a href="/stage2"><strong>Stage 2 Notes</strong></a></li>
					<li><a href="/stage3"><strong>Stage 3 Notes</strong></a></li>
					<li><a href="/stage4"><strong>Stage 4 Notes</strong></a></li>
				</ol>
		</nav>
	</div>

	<div class="lesson">
		<h2>Welcome!</h2>
		<div class="concept">
			<div class="concept-content">
			<p>Welcome to my Introduction to Programming Nanodegree Notes page!</p>
			<br>
			<p>Introduction to Programming is a Nanodegree taught by <a target="_blank" href="http://www.udacity.com">Udacity</a>.</p>
			<br>
			<p>You can learn more about the IPND, short for Introduction to Programming Nanodegree here: <a target="_blank" href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000">Intro to Programming Nanodegree</a>.</p>
			<br>
			<p>You'll find the links to my notes on the navigation pane to the left.</p>
		</div>
		</div>
	</div>

{% endblock %}